body {
    background: white;
    color: black;
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin-top: 60px;
}

h1 {
    color: blue;
}

p {
    font-size: 22px;
}

input {
    padding: 10px;
    font-size: 18px;
    width: 250px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
}
