body{
    background:white;
    color:black;
    font-family:Tahoma;
    text-align:center;
    margin-top:60px;
}

button{
    padding:10px 20px;
    margin:10px;
    font-size:18px;
    cursor:pointer;
}
